<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>个人中心-java社区</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}"/>
    <script th:src="@{/js/jquery-2.1.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>


</head>
<body style="background: url(/img/bg.jpg) repeat">
    <div th:replace="~{navigation::nav}"></div>
    <div class="container-fluid" style="background-color: #fff;width:1200px;">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2 ><span th:text="${sectionName}"></span></h2>
                <hr/>
                <div class="media" th:each="post:${posts}">
                    <div class="media-left">
                        <a href="#">
                            <img width="38" th:each="entry:${userMap}" th:if="${entry.key}==${post.author}" class="media-object img-rounded" th:src="${entry.value.imgUrl}">
                        </a>
                    </div>
                    <div class="media-body" >
                        <h4 class="media-heading" th:text="${post.title}"></h4>
                        <span th:each="entry:${userMap}" th:if="${entry.key}==${post.author}" th:text="${entry.value.name}"></span>
                        <span style="font-size: 12px;font-weight: normal; color: #999;">发布了置顶文章 • <span th:text="${post.getCommentCount()}"></span> 个评论 • <span th:text="${post.getViewCount()}"></span> 次浏览 • <span th:text="${#dates.format(post.createTime,'yyyy-MM-dd')}"></span> 发布</span>
                    </div>
                    <hr/>
                </div>
                <nav>
                    <ul class="pagination" style="float: right;">
                        <li th:class="${pageNum <= 1}?'disabled':''">
                            <a th:href="${pageNum <= 1}?'javascript:void(0)':@{/profile/posts(pageNum=${pageNum}-1)}"  aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li th:each="index : ${#numbers.sequence(1,pageCount)}" th:class="${pageNum==index}?'active':''"><a th:text="${index}"  th:href="@{/profile/posts(pageNum=${index})}"></a></li>

                        <li th:class="${pageNum >= pageCount}?'disabled':''">
                            <a th:href="${pageNum >= pageCount}?'javascript:void(0)':@{/profile/posts(pageNum=${pageNum}+1)}"  aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top: 20px;">
                <div class="list-group">
                    <a th:href="${section=='posts'}?'#':@{/profile/posts}" th:class="${section=='posts'}?'list-group-item active':'list-group-item'"><span class="badge">14</span>我的帖子</a>
                    <a th:href="${section=='replies'}?'#':@{/profile/replies}" th:class="${section=='replies'}?'list-group-item active':'list-group-item'">最新回复</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>