<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>发布-java社区</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}"/>
    <script th:src="@{/js/jquery-2.1.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>

</head>
<body style="background: url(/img/bg.jpg) repeat">
    <div th:replace="~{navigation::nav}"></div>
    <div class="container-fluid" style="background-color: #fff;width:1200px;">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;发起</h2>
                <hr/>
                <form th:action="${post == null}?@{'/publish'}:@{'/publish/'+${post.id}}" method="post">
                    <div class="form-group">
                        <label for="titie">问题标题：</label>
                        <input type="text" th:value="${post == null}?'':${post.title}" class="form-control" id="titie" name="title" placeholder="title"/>
                    </div>
                    <div class="form-group">
                        <label for="content">问题补充：</label>
                        <textarea class="form-control" th:text="${post == null}?'':${post.content}" name="content" id="content" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tag">添加标签：</label>
                        <input type="text" class="form-control" th:value="${post == null}?'':${post.tag}" id="tag" name="tag" placeholder="输入格式如：java,数据库,计算机网络..."/>
                    </div>
                    <button type="submit" class="btn btn-success" style="float: right;margin-bottom: 16px;">发布</button>
                </form>

            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3 style="margin-left: 23px">问题发起指南</h3>
                <ul>
                    <li>问题标题：请用简洁的语言描述您发布的问题，不超过25个字</li>
                    <li>问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料</li>
                    <li>选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>